@import url('https://fonts.googleapis.com/css?family=Montserrat:600,600i|Roboto:400,400i,700,700i');
@import 'modularscale-sass/stylesheets/modularscale';


$modularscale: (
    base: 0.875rem, // This must be in 'em' or 'rem'
    ratio: 1.1,
    30em: (
        ratio: 1.1
    ),
    60em: (
        ratio: 1.25
    )
);


$font-paragraph: "Roboto", sans-serif;
$font-headline: "Montserrat", sans-serif;