html {

}

body {
    font-size: ms(0);
    font-family: $font-paragraph;
    font-weight: 400;
    line-height: #{(24px / 16px)};
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
	cursor: pointer;
}