body {
    font-family: $font-paragraph;
    font-weight: 400;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}